<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Forbbiden.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
	<entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


	<connectionStrings>
		<add name="Forbbiden_FEIEntities" connectionString="metadata=res://*/ForbbidenModel.csdl|res://*/ForbbidenModel.ssdl|res://*/ForbbidenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GAGL\SQLEXPRESS;initial catalog=Forbbiden_FEI;persist security info=True;user id=forbbiden_server;password=F0rbb1d3n;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.ProfileManager">
				<!-- Service endpoint -->
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="Forbbiden.Contracts.IProfileManager" />
				<!-- Metadata endpoint for Server Reference -->
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/ProfileManager" />
						<add baseAddress="net.tcp://localhost:8081/ProfileManager" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	
 <applicationSettings>
  <Forbbiden.Server.Properties.Settings>
   <setting name="emailCode" serializeAs="String">
    <value>uqeosliojdotaitq</value>
   </setting>
  </Forbbiden.Server.Properties.Settings>
 </applicationSettings>
</configuration>