<connectionStrings>
	<add name="Forbbiden_FEIEntities"
		 connectionString="metadata=res://*/ForbbidenModel.csdl|res://*/ForbbidenModel.ssdl|res://*/ForbbidenModel.msl;
                         provider=System.Data.SqlClient;
                         App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
</connectionStrings>