<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Forbbiden.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IProfileManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchManager1">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>

		<client>
   <endpoint address="net.tcp://localhost:8081/ProfileManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfileManager" contract="ProfileManager.IProfileManager"
    name="NetTcpBinding_IProfileManager">
    <identity>
     <userPrincipalName value="DESKTOP-GAGL\mazin" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8083/MatchManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IMatchManager" contract="Forbbiden.Contracts.IMatchManager"
    name="NetTcpBinding_IMatchManager">
    <identity>
     <userPrincipalName value="DESKTOP-GAGL\mazin" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8083/MatchManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IMatchManager1" contract="MatchManager.IMatchManager"
    name="NetTcpBinding_IMatchManager1">
    <identity>
     <userPrincipalName value="KURUMI\leona" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
	<userSettings>
        <Forbbiden.Client.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="rememberLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </Forbbiden.Client.Properties.Settings>
    </userSettings>
</configuration>