<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Forbbiden.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>

		<!-- BINDINGS -->
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IProfileManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IFriendsManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchManager1">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IBoardManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGameService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IBoardManager1">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ITokenManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>

		<!-- CLIENT ENDPOINTS (CORREGIDOS) -->
		<client>
   <endpoint address="net.tcp://localhost:8083/MatchManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IMatchManager" contract="MatchManager.IMatchManager"
    name="NetTcpBinding_IMatchManager">
    <identity>
     <userPrincipalName value="LUMINA\leona" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:9030/GameService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IGameService" contract="GameManager.IGameService"
    name="NetTcpBinding_IGameService">
    <identity>
     <userPrincipalName value="LUMINA\leona" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8082/FriendsManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IFriendsManager" contract="FriendsManager.IFriendsManager"
    name="NetTcpBinding_IFriendsManager">
    <identity>
     <userPrincipalName value="DESKTOP-GAGL\mazin" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8084/BoardManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IBoardManager" contract="BoardManager.IBoardManager"
    name="NetTcpBinding_IBoardManager">
    <identity>
     <userPrincipalName value="DESKTOP-GAGL\mazin" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8085/TokenManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ITokenManager" contract="TokenManager.ITokenManager"
    name="NetTcpBinding_ITokenManager">
    <identity>
     <userPrincipalName value="DESKTOP-GAGL\mazin" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8081/ProfileManager" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfileManager" contract="ProfileManager.IProfileManager"
    name="NetTcpBinding_IProfileManager">
    <identity>
     <userPrincipalName value="DESKTOP-GAGL\mazin" />
    </identity>
   </endpoint>
  </client>

	</system.serviceModel>

	<userSettings>
		<Forbbiden.Client.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>en-US</value>
			</setting>
			<setting name="rememberLogin" serializeAs="String">
				<value>False</value>
			</setting>
		</Forbbiden.Client.Properties.Settings>
	</userSettings>

</configuration>
