<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Forbbiden.Client.Properties.PlayerSettings"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false" />
			<section name="Forbbiden.Client.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>

		<bindings>
			<netTcpBinding>

				<binding name="NetTcpBinding_IBoardManager">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>

				<binding name="NetTcpBinding_IFriendsManager">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>

				<binding name="NetTcpBinding_IFriendsNotificationManager">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>

				<binding name="NetTcpBinding_IGameManager"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 maxBufferPoolSize="20971520"
						 maxBufferSize="20971520"
						 maxReceivedMessageSize="20971520">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="20971520"
								  maxArrayLength="20971520"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>

				<binding name="NetTcpBinding_IMatchManager">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>

				<binding name="NetTcpBinding_IProfileManager">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>

				<binding name="NetTcpBinding_ITokenManager">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>

			</netTcpBinding>
		</bindings>

		<client>

			<endpoint address="net.tcp://192.168.100.44:8084/BoardManager"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IBoardManager"
					  contract="BoardManager.IBoardManager"
					  name="NetTcpBinding_IBoardManager" />

			<endpoint address="net.tcp://192.168.100.44:8082/FriendsManager"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IFriendsManager"
					  contract="FriendsManager.IFriendsManager"
					  name="NetTcpBinding_IFriendsManager" />

			<endpoint address="net.tcp://192.168.100.44:8086/FriendsNotificationManager"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IFriendsNotificationManager"
					  contract="FriendsNotificationManager.IFriendsNotificationManager"
					  name="NetTcpBinding_IFriendsNotificationManager" />

			<endpoint address="net.tcp://192.168.100.44:9030/GameManager"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IGameManager"
					  contract="GameManager.IGameManager"
					  name="NetTcpBinding_IGameManager" />

			<endpoint address="net.tcp://192.168.100.44:8083/MatchManager"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IMatchManager"
					  contract="MatchManager.IMatchManager"
					  name="NetTcpBinding_IMatchManager" />

			<endpoint address="net.tcp://192.168.100.44:8081/ProfileManager"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IProfileManager"
					  contract="ProfileManager.IProfileManager"
					  name="NetTcpBinding_IProfileManager" />

			<endpoint address="net.tcp://192.168.100.44:8085/TokenManager"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_ITokenManager"
					  contract="TokenManager.ITokenManager"
					  name="NetTcpBinding_ITokenManager" />

		</client>

	</system.serviceModel>

	<userSettings>
		<Forbbiden.Client.Properties.PlayerSettings>
			<setting name="CurrentPlayerId" serializeAs="String">
				<value>0</value>
			</setting>
		</Forbbiden.Client.Properties.PlayerSettings>

		<Forbbiden.Client.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>en-US</value>
			</setting>
		</Forbbiden.Client.Properties.Settings>
	</userSettings>

</configuration>
