<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="ForbbidenService.logic.ProfileManager">
				<!-- Endpoint del servicio -->
				<endpoint address="" binding="netTcpBinding" contract="ForbbidenService.logic.IProfileManager"/>
				<!-- Endpoint de metadata para Service Reference -->
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082"/>
						<add baseAddress="net.tcp://localhost:8081"/>
					</baseAddresses>
				</host>
			</service>
		</services>

	</system.serviceModel>
</configuration>
