USE [Forbbiden_FEI]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 03/01/2026 11:04:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[card_name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](150) NOT NULL,
	[type] [nvarchar](10) NOT NULL,
	[card_image_path] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_catalog]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_catalog](
	[card_type] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friends]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[player_id] [int] NOT NULL,
	[friend_id] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_FriendRequest] PRIMARY KEY CLUSTERED 
(
	[player_id] ASC,
	[friend_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginPlayer]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginPlayer](
	[login_player_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[login_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_cards]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_cards](
	[match_cards_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[card_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_cards_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_minigames]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_minigames](
	[match_minigames_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[minigame_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_minigames_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_players]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_players](
	[match_players_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[player_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_players_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_tiles]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_tiles](
	[match_tiles_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[tile_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_tiles_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[match_id] [int] IDENTITY(1,1) NOT NULL,
	[match_difficulty] [nvarchar](6) NOT NULL,
	[match_visibility] [nvarchar](7) NOT NULL,
	[host_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[match_name] [nchar](20) NOT NULL,
	[match_capacity] [int] NOT NULL,
 CONSTRAINT [PK__matches__9D7FCBA3E7830D61] PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Minigame]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Minigame](
	[minigame_id] [int] IDENTITY(1,1) NOT NULL,
	[minigame_name] [nvarchar](100) NULL,
	[timer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[minigame_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[minigame_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[player_id] [int] IDENTITY(1,1) NOT NULL,
	[player_name] [nvarchar](100) NULL,
	[player_username] [nvarchar](30) NOT NULL,
	[player_password] [nvarchar](64) NOT NULL,
	[player_email] [nvarchar](320) NULL,
	[player_avatar] [nvarchar](500) NULL,
	[player_status] [int] NULL,
	[is_verified] [int] NULL,
 CONSTRAINT [PK__player__44DA120CCE988263] PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__player__79C3D785D7AE56F3] UNIQUE NONCLUSTERED 
(
	[player_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__player__A2A1D8C3AB64E9BE] UNIQUE NONCLUSTERED 
(
	[player_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_socialmedia]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_socialmedia](
	[social_media] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NULL,
	[social_link] [nvarchar](50) NULL,
	[social_media_name] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[social_media] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tile]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tile](
	[tile_id] [int] IDENTITY(1,1) NOT NULL,
	[flooded_level] [int] NOT NULL,
	[type] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[token] [nvarchar](6) NOT NULL,
	[player_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treasure]    Script Date: 03/01/2026 11:04:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treasure](
	[treasure_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Treasure] PRIMARY KEY CLUSTERED 
(
	[treasure_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF_Matches_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD FOREIGN KEY([friend_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[LoginPlayer]  WITH CHECK ADD  CONSTRAINT [FK_LoginPlayer_Player] FOREIGN KEY([login_player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[LoginPlayer] CHECK CONSTRAINT [FK_LoginPlayer_Player]
GO
ALTER TABLE [dbo].[match_cards]  WITH CHECK ADD  CONSTRAINT [FK_match_cards_card] FOREIGN KEY([card_id])
REFERENCES [dbo].[Card] ([card_id])
GO
ALTER TABLE [dbo].[match_cards] CHECK CONSTRAINT [FK_match_cards_card]
GO
ALTER TABLE [dbo].[match_cards]  WITH CHECK ADD  CONSTRAINT [FK_match_cards_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_cards] CHECK CONSTRAINT [FK_match_cards_match]
GO
ALTER TABLE [dbo].[match_minigames]  WITH CHECK ADD  CONSTRAINT [FK_match_minigame_minigame] FOREIGN KEY([minigame_id])
REFERENCES [dbo].[Minigame] ([minigame_id])
GO
ALTER TABLE [dbo].[match_minigames] CHECK CONSTRAINT [FK_match_minigame_minigame]
GO
ALTER TABLE [dbo].[match_minigames]  WITH CHECK ADD  CONSTRAINT [FK_match_minigames_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_minigames] CHECK CONSTRAINT [FK_match_minigames_match]
GO
ALTER TABLE [dbo].[match_players]  WITH CHECK ADD  CONSTRAINT [FK_match_players_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_players] CHECK CONSTRAINT [FK_match_players_match]
GO
ALTER TABLE [dbo].[match_players]  WITH CHECK ADD  CONSTRAINT [FK_players_player] FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[match_players] CHECK CONSTRAINT [FK_players_player]
GO
ALTER TABLE [dbo].[match_tiles]  WITH CHECK ADD  CONSTRAINT [FK_match_tiles_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_tiles] CHECK CONSTRAINT [FK_match_tiles_match]
GO
ALTER TABLE [dbo].[match_tiles]  WITH CHECK ADD  CONSTRAINT [FK_tile_match_tile] FOREIGN KEY([tile_id])
REFERENCES [dbo].[Tile] ([tile_id])
GO
ALTER TABLE [dbo].[match_tiles] CHECK CONSTRAINT [FK_tile_match_tile]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Player] FOREIGN KEY([host_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Player]
GO
ALTER TABLE [dbo].[player_socialmedia]  WITH CHECK ADD  CONSTRAINT [FK_player_socialmedia] FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[player_socialmedia] CHECK CONSTRAINT [FK_player_socialmedia]
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
