USE [master]
GO
/****** Object:  Database [Forbbiden_FEI]    Script Date: 21/10/2025 10:53:51 a. m. ******/
CREATE DATABASE [Forbbiden_FEI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Forbbiden_FEI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Forbbiden_FEI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Forbbiden_FEI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Forbbiden_FEI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Forbbiden_FEI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Forbbiden_FEI]
GO
/****** Object:  User [forbbiden_server]    Script Date: 21/10/2025 10:53:51 a. m. ******/
CREATE USER [forbbiden_server] FOR LOGIN [forbbiden_server] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [forbbiden_server]
GO
ALTER ROLE [db_datareader] ADD MEMBER [forbbiden_server]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [forbbiden_server]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[card_name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](150) NOT NULL,
	[type] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_catalog]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_catalog](
	[card_type] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[card_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginPlayer]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginPlayer](
	[login_player_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[login_player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_cards]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_cards](
	[match_cards_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[card_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_cards_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_minigames]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_minigames](
	[match_minigames_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[minigame_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_minigames_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_players]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_players](
	[match_players_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[player_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_players_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_tiles]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_tiles](
	[match_tiles_id] [int] IDENTITY(1,1) NOT NULL,
	[match_id] [int] NOT NULL,
	[tile_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[match_tiles_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[match_id] [int] IDENTITY(1,1) NOT NULL,
	[match_dificulty] [nvarchar](6) NOT NULL,
	[match_visibility] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK__Matches__9D7FCBA3A25EDC81] PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Minigame]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Minigame](
	[minigame_id] [int] IDENTITY(1,1) NOT NULL,
	[minigame_name] [nvarchar](100) NULL,
	[timer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[minigame_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[minigame_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[player_id] [int] IDENTITY(1,1) NOT NULL,
	[player_name] [nvarchar](100) NULL,
	[player_username] [nvarchar](30) NULL,
	[player_password] [nvarchar](64) NOT NULL,
	[player_email] [nvarchar](320) NULL,
	[player_avatar] [nvarchar](500) NULL,
	[player_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[player_username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[player_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player_Friends]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player_Friends](
	[player_id] [int] NOT NULL,
	[friend_id] [int] NOT NULL,
 CONSTRAINT [PK_PlayerFriends] PRIMARY KEY CLUSTERED 
(
	[player_id] ASC,
	[friend_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_socialmedia]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_socialmedia](
	[social_media] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NULL,
	[social_link] [nvarchar](50) NULL,
	[social_media_name] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[social_media] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tile]    Script Date: 21/10/2025 10:53:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tile](
	[tile_id] [int] IDENTITY(1,1) NOT NULL,
	[flooded_level] [int] NOT NULL,
	[type] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoginPlayer]  WITH CHECK ADD  CONSTRAINT [FK_LoginPlayer_Player] FOREIGN KEY([login_player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[LoginPlayer] CHECK CONSTRAINT [FK_LoginPlayer_Player]
GO
ALTER TABLE [dbo].[match_cards]  WITH CHECK ADD  CONSTRAINT [FK_match_cards_card] FOREIGN KEY([card_id])
REFERENCES [dbo].[Card] ([card_id])
GO
ALTER TABLE [dbo].[match_cards] CHECK CONSTRAINT [FK_match_cards_card]
GO
ALTER TABLE [dbo].[match_cards]  WITH CHECK ADD  CONSTRAINT [FK_match_cards_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_cards] CHECK CONSTRAINT [FK_match_cards_match]
GO
ALTER TABLE [dbo].[match_minigames]  WITH CHECK ADD  CONSTRAINT [FK_match_minigame_minigame] FOREIGN KEY([minigame_id])
REFERENCES [dbo].[Minigame] ([minigame_id])
GO
ALTER TABLE [dbo].[match_minigames] CHECK CONSTRAINT [FK_match_minigame_minigame]
GO
ALTER TABLE [dbo].[match_minigames]  WITH CHECK ADD  CONSTRAINT [FK_match_minigames_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_minigames] CHECK CONSTRAINT [FK_match_minigames_match]
GO
ALTER TABLE [dbo].[match_players]  WITH CHECK ADD  CONSTRAINT [FK_match_players_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_players] CHECK CONSTRAINT [FK_match_players_match]
GO
ALTER TABLE [dbo].[match_players]  WITH CHECK ADD  CONSTRAINT [FK_players_player] FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[match_players] CHECK CONSTRAINT [FK_players_player]
GO
ALTER TABLE [dbo].[match_tiles]  WITH CHECK ADD  CONSTRAINT [FK_match_tiles_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[match_tiles] CHECK CONSTRAINT [FK_match_tiles_match]
GO
ALTER TABLE [dbo].[match_tiles]  WITH CHECK ADD  CONSTRAINT [FK_tile_match_tile] FOREIGN KEY([tile_id])
REFERENCES [dbo].[Tile] ([tile_id])
GO
ALTER TABLE [dbo].[match_tiles] CHECK CONSTRAINT [FK_tile_match_tile]
GO
ALTER TABLE [dbo].[Player_Friends]  WITH CHECK ADD  CONSTRAINT [FK_PlayerFriends_Friend] FOREIGN KEY([friend_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[Player_Friends] CHECK CONSTRAINT [FK_PlayerFriends_Friend]
GO
ALTER TABLE [dbo].[Player_Friends]  WITH CHECK ADD  CONSTRAINT [FK_PlayerFriends_Player] FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[Player_Friends] CHECK CONSTRAINT [FK_PlayerFriends_Player]
GO
ALTER TABLE [dbo].[player_socialmedia]  WITH CHECK ADD  CONSTRAINT [FK_player_socialmedia] FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[player_socialmedia] CHECK CONSTRAINT [FK_player_socialmedia]
GO
USE [master]
GO
