<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Forbbiden.Server.Properties.email" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.serviceModel>

		<bindings>
			<netTcpBinding>
				<binding name="DuplexTcpBinding" maxConnections="100">
					<security mode="None" >
						<transport clientCredentialType="None"></transport>
						<message clientCredentialType="None"></message>
					</security>
					<reliableSession enabled="true" inactivityTimeout="00:10:00" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
   <serviceBehaviors>
    <behavior name="mexBehavior">
     <serviceMetadata httpGetEnabled="false" />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>

		<services>
   <service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.ProfileManager">
    <endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IProfileManager" />
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:8081/ProfileManager" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.FriendsManager">
    <endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IFriendsManager" />
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:8082/FriendsManager" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.MatchManager">
    <endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IMatchManager" />
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:8083/MatchManager" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.BoardManager">
    <endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IBoardManager" />
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:8084/BoardManager" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.GameService">
    <endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IGameService" />
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="net.tcp://localhost:9030/GameService" />
     </baseAddresses>
    </host>
   </service>
   <service name="Forbbiden.Server.logic.TokenManager">
    <endpoint address="" binding="basicHttpBinding" contract="Forbbiden.Server.logic.ITokenManager">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8733/Design_Time_Addresses/Forbbiden.Server.logic/TokenManager/" />
     </baseAddresses>
    </host>
   </service>
  </services>

	</system.serviceModel>

</configuration>
