<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
		    <section name="Forbbiden.Server.Properties.email" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<entityFramework>
		<providers>
		    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.serviceModel>
		<bindings>
			<!-- Default binding left as you had it for other services -->
			<netTcpBinding>
				<binding name="DefaultTcpBinding">
					<security mode="None">
						<transport clientCredentialType="None" />
						<message clientCredentialType="None" />
					</security>
				</binding>

				<!-- New binding for GameManager only (20 MB quotas) -->
				<binding name="NetTcpBinding_IGameManager"
						 maxBufferPoolSize="20971520"
						 maxBufferSize="20971520"
						 maxReceivedMessageSize="20971520"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="20971520"
								  maxArrayLength="20971520"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None"/>
						<message clientCredentialType="None"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.ProfileManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IProfileManager" bindingConfiguration="DefaultTcpBinding" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:8081/ProfileManager" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.FriendsManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IFriendsManager" bindingConfiguration="DefaultTcpBinding"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:8082/FriendsManager" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.MatchManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IMatchManager" bindingConfiguration="DefaultTcpBinding"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:8083/MatchManager" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.BoardManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IBoardManager" bindingConfiguration="DefaultTcpBinding"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:8084/BoardManager" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.GameManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IGameManager" bindingConfiguration="NetTcpBinding_IGameManager"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:9030/GameManager" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.logic.TokenManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.ITokenManager" bindingConfiguration="DefaultTcpBinding"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:8085/TokenManager" />
					</baseAddresses>
				</host>
			</service>

			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.callbacks.FriendsNotificationManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IFriendsNotificationManager" bindingConfiguration="DefaultTcpBinding"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:8086/FriendsNotificationManager" />
					</baseAddresses>
				</host>
			</service>
			
			<service behaviorConfiguration="mexBehavior" name="Forbbiden.Server.callbacks.MatchNotificationManager">
				<endpoint address="" binding="netTcpBinding" contract="Forbbiden.Contracts.IMatchNotificationManager" bindingConfiguration="DefaultTcpBinding"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.77:8087/MatchNotificationManager" />
					</baseAddresses>
				</host>
			</service>
		</services>
		
	</system.serviceModel>
</configuration>
